
.App{
    background-image:url("https://www.downloadwallpapers.info/dl/1280x960//2014/07/23/426943_cityscape-colors-colour-cute-pattern-photography_1920x1080_h.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}